# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lichinga,MZ,-13.3128,35.2406,67.42,67,29,6.58,scattered clouds
1,1,Syracuse,IT,37.0881,15.2792,67.59,72,0,21.99,clear sky
2,2,Nador,MA,35.1740,-2.9287,62.85,72,75,20.71,broken clouds
3,3,Naze,JP,28.3667,129.4833,70.72,89,82,8.81,broken clouds
4,4,Bredasdorp,ZA,-34.5322,20.0403,58.08,75,85,5.88,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input(f"What is the minimum temperature you prefer for your vacation location?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input(f"What is the minimum temperature you prefer for your vacation location?"))

What is the minimum temperature you prefer for your vacation location?50
What is the minimum temperature you prefer for your vacation location?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>= min_temp) & (city_data_df["Max Temp"]<= max_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lichinga,MZ,-13.3128,35.2406,67.42,67,29,6.58,scattered clouds
1,1,Syracuse,IT,37.0881,15.2792,67.59,72,0,21.99,clear sky
2,2,Nador,MA,35.1740,-2.9287,62.85,72,75,20.71,broken clouds
3,3,Naze,JP,28.3667,129.4833,70.72,89,82,8.81,broken clouds
4,4,Bredasdorp,ZA,-34.5322,20.0403,58.08,75,85,5.88,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.count()

City_ID                413
City                   413
Country                413
Lat                    413
Lng                    413
Max Temp               413
Humidity               413
Cloudiness             413
Wind Speed             413
Current Description    413
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

         City Country  Max Temp Current Description      Lat       Lng
0    Lichinga      MZ     67.42    scattered clouds -13.3128   35.2406
1    Syracuse      IT     67.59           clear sky  37.0881   15.2792
2       Nador      MA     62.85       broken clouds  35.1740   -2.9287
3        Naze      JP     70.72       broken clouds  28.3667  129.4833
4  Bredasdorp      ZA     58.08     overcast clouds -34.5322   20.0403

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lichinga,MZ,67.42,scattered clouds,-13.3128,35.2406,
1,Syracuse,IT,67.59,clear sky,37.0881,15.2792,
2,Nador,MA,62.85,broken clouds,35.1740,-2.9287,
3,Naze,JP,70.72,broken clouds,28.3667,129.4833,
4,Bredasdorp,ZA,58.08,overcast clouds,-34.5322,20.0403,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.tail(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
652,Humaita,BR,82.33,overcast clouds,-7.5061,-63.0208,Corrêa Hotel
657,Angoche,MZ,79.11,clear sky,-16.2325,39.9086,Guest House HESADA
659,Lere,NG,70.18,scattered clouds,10.3870,8.5726,
662,Manakara,MG,74.03,scattered clouds,-22.1333,48.0167,La Residence Manakara
663,Kopong,BW,79.03,clear sky,-24.4833,25.8833,MsLo Kopong residency
664,Santa Marta,CO,87.85,scattered clouds,11.2408,-74.1990,Hotel La Ballena Azul
665,Chiang Rai,TH,73.38,clear sky,19.9167,99.9167,Imsuk Homestay at Chiang Rai
668,Mecca,SA,77.25,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
671,Coahuayana,MX,88.09,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
673,Bati,ET,62.85,clear sky,11.1833,40.0167,Adem Endris Home
675,Mount Isa,AU,69.57,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
676,San Juan Bautista,PE,85.69,broken clouds,-14.0108,-75.7358,Hotel Las Dunas
678,Ondjiva,AO,84.42,overcast clouds,-17.0667,15.7333,COMBUESA
679,Bandar-E Anzali,IR,60.91,clear sky,37.4727,49.4622,هتل بیاچ
681,Fort-Shevchenko,KZ,50.22,overcast clouds,44.5086,50.2630,Oasis hotel Bautino
682,Puri,IN,68.52,overcast clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
685,Yulara,AU,72.48,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
688,Lazaro Cardenas,MX,84.58,clear sky,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
689,Kuala Terengganu,MY,76.95,few clouds,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)
690,Singaraja,ID,79.07,overcast clouds,-8.1120,115.0882,Puri Bagus Lovina Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [12]:
hotel_df.tail(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
652,Humaita,BR,82.33,overcast clouds,-7.5061,-63.0208,Corrêa Hotel
657,Angoche,MZ,79.11,clear sky,-16.2325,39.9086,Guest House HESADA
659,Lere,NG,70.18,scattered clouds,10.3870,8.5726,NaN
662,Manakara,MG,74.03,scattered clouds,-22.1333,48.0167,La Residence Manakara
663,Kopong,BW,79.03,clear sky,-24.4833,25.8833,MsLo Kopong residency
664,Santa Marta,CO,87.85,scattered clouds,11.2408,-74.1990,Hotel La Ballena Azul
665,Chiang Rai,TH,73.38,clear sky,19.9167,99.9167,Imsuk Homestay at Chiang Rai
668,Mecca,SA,77.25,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
671,Coahuayana,MX,88.09,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
673,Bati,ET,62.85,clear sky,11.1833,40.0167,Adem Endris Home
675,Mount Isa,AU,69.57,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
676,San Juan Bautista,PE,85.69,broken clouds,-14.0108,-75.7358,Hotel Las Dunas
678,Ondjiva,AO,84.42,overcast clouds,-17.0667,15.7333,COMBUESA
679,Bandar-E Anzali,IR,60.91,clear sky,37.4727,49.4622,هتل بیاچ
681,Fort-Shevchenko,KZ,50.22,overcast clouds,44.5086,50.2630,Oasis hotel Bautino
682,Puri,IN,68.52,overcast clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
685,Yulara,AU,72.48,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
688,Lazaro Cardenas,MX,84.58,clear sky,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
689,Kuala Terengganu,MY,76.95,few clouds,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)
690,Singaraja,ID,79.07,overcast clouds,-8.1120,115.0882,Puri Bagus Lovina Resort

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.tail(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
648,Tamandare,BR,79.05,clear sky,-8.7597,-35.1047,Pousada 100 Passos
652,Humaita,BR,82.33,overcast clouds,-7.5061,-63.0208,Corrêa Hotel
657,Angoche,MZ,79.11,clear sky,-16.2325,39.9086,Guest House HESADA
662,Manakara,MG,74.03,scattered clouds,-22.1333,48.0167,La Residence Manakara
663,Kopong,BW,79.03,clear sky,-24.4833,25.8833,MsLo Kopong residency
664,Santa Marta,CO,87.85,scattered clouds,11.2408,-74.1990,Hotel La Ballena Azul
665,Chiang Rai,TH,73.38,clear sky,19.9167,99.9167,Imsuk Homestay at Chiang Rai
668,Mecca,SA,77.25,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
671,Coahuayana,MX,88.09,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
673,Bati,ET,62.85,clear sky,11.1833,40.0167,Adem Endris Home
675,Mount Isa,AU,69.57,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
676,San Juan Bautista,PE,85.69,broken clouds,-14.0108,-75.7358,Hotel Las Dunas
678,Ondjiva,AO,84.42,overcast clouds,-17.0667,15.7333,COMBUESA
679,Bandar-E Anzali,IR,60.91,clear sky,37.4727,49.4622,هتل بیاچ
681,Fort-Shevchenko,KZ,50.22,overcast clouds,44.5086,50.2630,Oasis hotel Bautino
682,Puri,IN,68.52,overcast clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
685,Yulara,AU,72.48,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
688,Lazaro Cardenas,MX,84.58,clear sky,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
689,Kuala Terengganu,MY,76.95,few clouds,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)
690,Singaraja,ID,79.07,overcast clouds,-8.1120,115.0882,Puri Bagus Lovina Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [23]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -13.3128   35.2406
1   37.0881   15.2792
2   35.1740   -2.9287
3   28.3667  129.4833
4  -34.5322   20.0403
5  -38.0023  -57.5575
6  -54.8000  -68.3000
7   37.8000  -25.5833
9  -46.2817  169.8464
10  22.8909 -109.9124

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
max_temp = clean_hotel_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))